/* Navagation Bar Styling*/
.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5e4486;
    color: white;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hove{
    color: white;
    background-color: #5e4486;
    float: right;
}

.navbar-inverse .navbar-nav li a{
    color: #d5d5d5;
}

/* Picture Carousel Styling*/
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.btn{
    font-size: 18px;
    color: white;
    padding: 12px 22px;
    background-color: #5e4486;
    border: 2px solid #ffffff;

}

/*Regular Styling*/
.container {
margin: 4% auto;
}

#icon {
    max-width: 200px;
    margin: 1% auto;
}

footer {
    width: 100%;
    padding: 5%;
    color: white;
    background-color: #5e4486;
}

/*Icon Styling*/
.fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}

.fa:hover{
    color: lightgray;
    text-decoration: none;
}

.fa-button {
    padding: 10px;
    font-size: 20px;
    color: white;
}

.fa-button:hover{
    color: lightgray;
    text-decoration: none;
}

/* Moblie/Shrunk Viewports*/

@media (max-width: 900px) {
    .fa {
        font-size: 20px;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
    #icon {
        max-width: 150px;
    }
    h2 {
        font-size: 1.7em;
    }
}
